.usercard {
  margin-left: 20px;
  margin-top: 40px;
  width: 90%;
  background-color: #f4f6f7;
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.usercard img {
  flex-basis: 44px;
  height: 44px;
}

.displayname {
  font-weight: bold;
  margin: 0;
}

.username {
  color: #494a4a;
  margin: 0;
}

.logout {
  width: 22px !important;
  height: 22px !important;
  margin-left: 15px;
}
