.txtmsg {
  width: fit-content;
  border-radius: 9px;
  max-width: 80%;
}

.msg {
  padding: 8px 16px;
  border-radius: 9px;
}

.sent {
  background-color: #284b63;
  color: white;
  margin-left: auto;
}

.received {
  background-color: #f4f6f7;
  color: black;
}

.right {
  margin-left: auto;
}

.right .groupp {
  text-align: right;
}

.left .groupp {
  text-align: left;
}

.groupp {
  color: #969696;
  margin-bottom: -10px;
}
