.sidebar {
  border-right: 1px solid var(--color-border);
  padding-right: 50px;
  width: fit-content;
  height: 100vh;
  flex-shrink: 0;
}

.logo {
  margin-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo p,
.menuitem p {
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  transition: transform 100ms ease;
}

.menuitem p:hover {
  color: #3a3939;
  transform: translateY(-2px);
}

.menuitem {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menuitem p {
  color: #4d4d4d;
  font-size: 16px;
  cursor: default;
}

.menu {
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.active p {
  color: black !important;
}

.burger {
  display: none;
  width: 42px;
  height: 42px;
}

.hidden {
  display: block;
}

@media (max-width: 768px) {
  .logo {
    align-items: center;
  }
  .logo p {
    flex-basis: content;
    flex-shrink: 0;
  }
  .sidebar {
    border: none;
    flex-shrink: 1;
    height: auto;
  }
  .menu {
    /* z-index: 10; */
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    padding-left: 40px;
    padding-top: 20px;
    justify-content: flex-start;
  }
  .menu:last-child {
    margin-top: 40px;
  }
  .second {
    margin-top: 40px;
  }
  .usercard {
    position: fixed;
    bottom: 40px;
    width: 86vw;
  }
  .burger {
    display: block;
    margin-left: 40px;
  }
  .hidden {
    display: none;
  }
}
