.sidebar {
  border-right: 1px solid var(--color-border);
  padding-right: 50px;
  width: fit-content;
  height: 100vh;
}

.logo {
  margin-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo p,
.menuitem p {
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
}

.menuitem {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.menuitem p {
  color: #4d4d4d;
  font-size: 16px;
  cursor: default;
}

.menu {
  margin-left: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.active p {
  color: black !important;
}
