.top {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 20px;
}

.usercard {
  border-radius: 9px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
}

.usercard img {
  flex-basis: 44px;
  height: 44px;
  border-radius: 64px;
}

.displayname {
  font-weight: bold;
  margin: 0;
}

.username {
  color: #494a4a;
  margin: 0;
}
