.usercard {
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
  cursor: default;
}

.usercard img {
  flex-basis: 44px;
  height: 44px;
}

.displayname {
  font-weight: bold;
  margin: 0;
}

.username {
  color: #494a4a;
  margin: 0;
}

.msg {
  width: 280px;
  padding: 15px;
  border-radius: 9px;
  margin-top: 5px;
  transition: transform 100ms ease;
  display: flex;
}

.msg:hover {
  background-color: #f4f4f4a4;
}

.active {
  border: 1px solid var(--color-border);
  background-color: #f4f4f4;
  border-radius: 18px;
  transform: scale(1.05);
}
