.body {
  display: flex;
  flex-direction: row;
  overflow-y: none;
}

.rest {
  flex-grow: 2;
  margin-top: 20px;
}

.friends,
.active {
  margin-left: 40px;
  margin-right: 40px;
  overflow-y: auto;
}

.friends h2,
.active h2 {
  font-size: 20px;
  color: #4d4d4d;
}

.friends h3,
.active h3 {
  font-size: 18px;
  color: #4d4d4d;
  margin-top: 10px;
  margin-bottom: 10px;
}

.active {
  border-bottom: 1px solid var(--color-border);
}

.usercard {
  margin-top: 20px;
  width: 60%;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--color-border);
}

.usercard input:first-of-type {
  margin-right: 20px;
}

.usercard .profile {
  flex-basis: 44px;
  height: 44px;
  margin-right: 20px;
}

.displayname {
  font-weight: bold;
  margin: 0;
}

.username {
  color: #494a4a;
  margin: 0;
}

.iconholder {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #7d7d7d;
  border-radius: 9px;
  padding: 6px 8px;
}

.searchbar input {
  border: none;
  border-radius: 9px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

.searchbar input:hover,
.searchbar input:focus {
  border: none;
  outline: none;
}
