.body {
  display: flex;
  flex-direction: row;
  overflow-y: none;
}

.rest {
  flex-grow: 2;
  margin-top: 20px;
}

.friends,
.active {
  margin-left: 40px;
  margin-right: 40px;
  overflow-y: auto;
}

.friends h2,
.active h2 {
  font-size: 20px;
  color: #4d4d4d;
}

.friends h3,
.active h3 {
  font-size: 18px;
  color: #4d4d4d;
  margin-top: 10px;
  margin-bottom: 10px;
}

.active {
  border-bottom: 1px solid var(--color-border);
}

.usercard {
  border-bottom: 1px solid var(--color-border);
}

.usercard2 {
  margin-top: 20px;
  width: 60%;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.usercard2 input:first-of-type {
  margin-right: 20px;
}

.usercard2 .profile {
  flex-basis: 44px;
  height: 44px;
  margin-right: 20px;
}

.displayname {
  font-weight: bold;
  margin: 0;
}

.username {
  color: #494a4a;
  margin: 0;
}

.iconholder {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.btngroup {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.btngroup button {
  margin-right: 20px;
  padding: 10px 50px;
  border-radius: 9px;
}

.btngroup button:first-of-type {
  background-color: white;
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
}

.btngroup button:last-of-type {
  background-color: var(--color-accent);
  border: none;
  color: white;
}

.btngroup button:first-of-type:hover {
  background-color: var(--color-accent);
  color: white;
}

.btngroup button:last-of-type:hover {
  background-color: var(--button-hover);
}
.btngroup button:first-of-type:active {
  background-color: var(--button-active);
}

.btngroup button:last-of-type:active {
  background-color: var(--button-active);
}

.about {
  font-size: 16px;
  margin-top: 5px;
  color: #7d7d7d;
  margin-left: 50px;
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
    width: 100vw;
  }

  .btngroup {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .btngroup button {
    margin: 0;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 9px;
    width: 200px;
  }

  .usercard2 {
    width: 100%;
    padding: 0;
  }
  .about {
    margin-left: 5px;
  }
  .friends,
  .active {
    margin-left: 20px;
    margin-right: 20px;
    height: 70vh;
  }
}
