.authform {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 22%;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;
  margin-top: 90px;
}

.authform * {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  position: fixed;
  top: 40px;
  left: 40px;
}

.authform h1 {
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}

.authform label {
  margin-bottom: 8px;
  font-size: 14px;
}

.authform input {
  border-radius: 9px;
  padding: 13px 10px;
  margin-bottom: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0);
  color: #4d4d4d;
  background-color: var(--color-secondary);
}

.authform input:hover {
  border: 1.5px solid var(--color-accent);
}

.authform input:focus {
  outline: 1.2px solid var(--color-accent);
}

.authform button {
  background-color: var(--color-accent);
  padding: 13px 20px;
  color: white;
  border: none;
  border-radius: 9px;
  margin-top: 20px;
  transition: background-color 200ms ease;
  font-weight: 500;
  text-align: center;
}

.authform button:hover {
  background-color: var(--button-hover);
}

.authform button:active {
  background-color: var(--button-active);
}

.authform button.secondary {
  background-color: white;
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 9px;
  margin-top: 0.5rem;
}

.authform button.secondary:hover {
  background-color: var(--color-accent);
  color: white;
}

.authform button.secondary:active {
  background-color: var(--button-active);
}

.authform .link a {
  color: var(--color-accent);
  text-decoration: none;
}

.authform .link:hover a {
  text-decoration: underline;
  cursor: default;
}

.hidden {
  display: none;
}

.error {
  background-color: rgb(142, 31, 31);
  color: white;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 12px;
  width: fit-content;
}
