:root {
  font-family: Helvetica, sans-serif;
  --color-accent: #284b63;
  --color-border: #d7d7d7;
  --button-hover: #376584;
  --button-active: #183345;
  --button-hover-2: #c7d3dd;
  --button-active-2: #bed1e0;
}
